.App{
    background-color: rgb(108, 185, 201);
    display: flex;
    justify-content: space-evenly;
}
.container{
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    margin-left: 1rem;
}
.note{
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin: 1rem;
    border-radius: 5px;
}
button{

}
.deleteButton-container{
    width: 100%;
    display: flex;
    border: none;
    justify-content: flex-end;
    align-items: end;
  
}
.editbutton{
    color: rgba(22, 151, 22, 0.712);
    cursor: pointer;
    margin-right: 1rem;
}
.deletebutton{
    cursor:pointer;
    padding-left:1rem ;
    color: rgb(233, 78, 78);
}